.App {
  font-family: sans-serif;
  text-align: center;

}
  
.prod-card{
  display: inline-block;
  margin: 10px;
  padding: 25px;
  background-color:#010101;
  border-radius: 8px;
  width:fit-content;
  


}

